.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
  .card__section {
    // background-color: darkmagenta;
    padding: 20px;

    .card__header-from {
      font-size: 1.5rem;
      color: rgb(59, 59, 59);
    }

    .card__header-to {
      font-size: 1.6rem;
    }

    .card__header-date {
      margin-top: 50px;
    }

  }

}