@import '../variables';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(10% + 70px);
  font-size: 1.1rem;

  .form__select {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    width: 250px;
    height: 30px;
    padding-top: 5px;
    padding-left: 3px;
    max-width: 700px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;

    .form__option {
      background-color: rgb(167, 167, 167);
    }
  }
  .form__paragraph-select {
    margin-left: 10px;
  }

  .form__label {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 25%;
    max-width: 700px;

    @media screen and (max-width: 540px) {
      margin-bottom: 30px;;
    }

    .form__input {
      height: 26px;
      padding-left: 5px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
    }
  }

  .form__paragraph {
    opacity: 0.8;
  }

  .form__button {
    align-self: flex-end;
    margin: 0 150px;
    padding: 12px 7px;
    border: none;
    background-color: rgb(72, 151, 113);
    color: white;
    border-radius: 10px;
    cursor: pointer;

    @media screen and (min-width: 899px) {
      margin: 0 30px;
    }

    @media screen and (max-width: 899px) {
      margin-top: 20px;
    }

    &:hover {
      background-color: rgba(72, 151, 113, 0.6);
      color: white;
    }

    &:active {
      transform: scale(0.96);
    }
  }

}

