@import './components/Header';
@import './components/Form';
@import './components/CurrencyCard';


body {
  margin: 0;
  background-color: rgb(199, 198, 198);
}

.error {
  margin-bottom: -30px;
  margin-top: 20px;
  color: red;
  text-align: center;
}
